<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>rentalz</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string>????</string>

        <!-- 👇 Configure Facebook Login for iOS -->
        <!-- If you already have CFBundleURLTypes or LSApplicationQueriesSchemes keys in your
            Info.plist, you should merge their values, instead of adding a duplicate key -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <!-- If you have implement another providers (Like Google) in your app you should
                    merge their values in here -->
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb928659957763543</string>
                    <!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
                    <string>com.googleusercontent.apps.444781486395-41l5ui7c89gm22pa8oafpj5qaokr59p2</string>
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>928659957763543</string>
        <key>FacebookClientToken</key>
        <string>5bb1ba8107ff318d58e73d61e9a7fe80</string>
        <key>FacebookDisplayName</key>
        <string>RentalZ</string>
        <!-- Any of the Facebook dialogs (e.g., Login, Share, App Invites, etc.) can perform an
            app switch to Facebook apps with the schemes below -->
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <!-- Add any URL schemes passed to canLaunch from the package:url_launcher -->
            <string>https</string>
            <!-- Note: URL schemes are only supported if there are apps installed on the device
                that can support them. For example, iOS simulators don't have a default email
                or phone apps installed, so can't open tel: or mailto: links. -->

            <string>fbapi</string>
            <string>fbapi20130214</string>
            <string>fbapi20130410</string>
            <string>fbapi20130702</string>
            <string>fbapi20131010</string>
            <string>fbapi20131219</string>
            <string>fbapi20140410</string>
            <string>fbapi20140116</string>
            <string>fbapi20150313</string>
            <string>fbapi20150629</string>
            <string>fbapi20160328</string>
            <string>fbauth</string>
            <string>fb-messenger-share-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
        <!-- 👆 End of the Facebook Login for iOS Section -->

        <key>CFBundleVersion</key>
        <string>$(FLUTTER_BUILD_NUMBER)</string>
        <key>LSRequiresIPhoneOS</key>
        <true />
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsLocalNetworking</key>
            <true />
        </dict>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false />
    </dict>
</plist>
