<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444781486395-41l5ui7c89gm22pa8oafpj5qaokr59p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444781486395-41l5ui7c89gm22pa8oafpj5qaokr59p2</string>
	<key>API_KEY</key>
	<string>AIzaSyDLNbthsFr0d2O_nbrxj8xYew0XmVIzWqc</string>
	<key>GCM_SENDER_ID</key>
	<string>444781486395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonxuannguyen.rentalz</string>
	<key>PROJECT_ID</key>
	<string>gw-mobile-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>gw-mobile-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444781486395:ios:383ab6b052cddbc8ea971e</string>
</dict>
</plist>